.main-header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow: hidden; }

.main-header__backcground {
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px; }

.main-header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 22px 20px; }
  .main-header__top-menu--active {
    border-bottom: 1px solid #000000;
    background-color: #283645; }

.pink-logo {
  height: 22px;
  width: 75px; }
  .pink-logo svg {
    width: 100%;
    height: 100%; }
    .pink-logo svg image {
      width: 100%;
      height: 100%; }

.main-header-burger {
  background-color: transparent;
  border: none; }
  .main-header-burger:focus {
    outline: none; }

.main-navigation {
  background-color: #283645;
  width: 100%; }

.main-navigation__list {
  margin: 0;
  padding: 0; }

.main-navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  padding: 17px 0; }

.intro {
  padding-top: 400px; }

.download-app {
  position: relative;
  background-color: #1d2631; }
  .download-app::after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 0;
    width: 260px;
    height: 280px;
    background-color: red; }
