.main-header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.pink-logo {
  height: 22px;
  width: 75px; }
  .pink-logo svg {
    height: auto; }
    .pink-logo svg image {
      width: 100%;
      height: 100%; }

.main-header {
  width: 100%;
  background-color: #283645; }

.main-navigation {
  background-color: #283645;
  width: 100%; }

.main-navigation__list {
  margin: 0;
  padding: 0;
  display: none; }

.main-navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  padding: 17px 0; }
