
@mixin correct-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow: hidden;

  margin-bottom: 45px;
}

.main-header__backcground{
  overflow: hidden;
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 475px;


  background-image: url(../img/Header/big-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;;
}

.main-header__menu{
}

.main-header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 22px 20px;

  &--active{
    border-bottom: 1px solid #000000;
    background-color: #283645;
  }
}

.pink-logo {
  height: 22px;
  width: 75px;

  svg {
    width: 100%;
    height: 100%;

    image {
      width: 100%;
      height: 100%;
    }
  }
}

.main-header-burger{
  background-color: transparent;
  border: none;
  &:focus{
    outline: none;
  }
}

.main-navigation {
  background-color: #283645;
  width: 100%;
}

.main-navigation__list {
  @include correct-list;
}

.main-navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  padding: 17px 0;
}


.intro{
  padding-top: 400px;
}


.download-app{
  position: relative;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;

  padding: 30px 20px;
  &::after{
    position: absolute;
    content: "";

    bottom: 100%;
    left: 0;

    width: 260px;
    height: 280px;

    background-image: url(../img/Header/hand-with-iphone.png);
    background-repeat: no-repeat;
  }
}

.download__button{
  display: block;

  background-color: #1d2631;

  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;

  padding: 16px 40px;

  border: 3px solid #ffffff;
  border-radius: 40px;

  margin-bottom: 30px;
}

.download__os-list{
  @include correct-list;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 205px;
  height: 57px;

  margin-bottom: 25px;
}

.download__os{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__os-text{
  margin: 0;

  color: #ffffff;
  font-weight: 400;

  font-size: 14px;
  line-height: 24px;
  text-align: center;;
}
